<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xs-4">MD3 xs4</div>
    <div class="col-md-6 col-xs-4">MD6 xs4</div>
    <div class="col-md-1 col-xs-4">MD1 xs4</div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-4 col-xs-offset-4">MD 6 cols xs4 off4</div>
    <div class="col-md-6 col-xs-8 col-xs-offset-4">MD 6 cols xs8 off4</div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-2">MD 3 cols offset 2</div>
    <div class="col-md-2 hidden-sm">MD 2 cols</div>
  </div>
</div>